.movieTable__row {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  
  .movieTable__row > div {
      border: 1px solid black;
      text-align: center;
  }
  
  .movieTable__Title {
    width: 20%;
  }
  
  .movieTable__Year {
    width: 5%;
  }
  
  .movieTable__imdbID {
    width: 10%;
  }
  
  .movieTable__Type {
    width: 10%;
  }
  
  .movieTable__Age {
    width: 5%;
  }
  
  .movieTable__Poster {
    width: 50%;
  }